/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        glide: glide {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp U>;
            label = "GLIDE";
        };

        macrotoleft: macrotesttwo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 1>,
                <&macro_press>,
                <&kp D &none &none &none &kp W>,
                <&macro_release>,
                <&kp D &kp W>,
                <&macro_tap>,
                <&msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &kp A &to 0>;

            label = "MACROTESTTWO";
        };

        macroright: macroright {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 1>,
                <&macro_press>,
                <&kp A &none &none &none &kp W>,
                <&macro_release>,
                <&kp A &kp W>,
                <&macro_tap>,
                <&msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &msc SCRL_UP &kp D &to 0>;

            label = "MACRORIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   k  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  |  H   | glide|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3    &kp N4        &kp N5                          &kp N6  &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB         &kp Q   &kp W   &kp E     &kp R         &kp T                           &kp Y   &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT  &kp A   &kp S   &kp D     &kp F         &kp G                           &kp H   &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C     &kp V         &kp B        &kp H    &kp RBKT  &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                &kp LALT  &macrotoleft  &macroright  &to 0    &kp RET   &mo 0   &kp BSPC  &kp RGUI
            >;
        };

        layer_1 {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3        &kp N4  &kp N5                   &trans  &trans  &trans  &trans  &trans  &trans
&kp TAB    &kp Q   &none   &kp E         &kp R   &kp T                    &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &none   &kp S   &none         &kp F   &kp G                    &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &kp Z   &kp X   &kp C         &kp V   &kp B   &kp H    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                           &kp LEFT_ALT  &none   &none   &to 0    &trans  &trans  &trans  &trans
            >;
        };
    };
};
